.css-1bkkvo4 {
    position: relative;
    content-visibility: auto;
    margin-bottom: 24px;
    min-height: 600px;
}

.css-d00g6r {
    padding-right: 16px;
    padding-left: 16px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    border-style: none;
    border-width: 1px;
    border-color: unset;
    opacity: 1;
    max-width: 1232px;
}

element.style {
    height: 566px;
}
.css-1o3gs9x.teko-row-space-around {
    justify-content: space-around;
}

@media (min-width: 1024px) {
    .css-1o3gs9x.teko-row {
        -webkit-box-pack: center;
        justify-content: center;
    }
    .css-1o3gs9x.teko-row {
        display: flex;
        flex-flow: row wrap;
    }
    .css-1o3gs9x {
        border-style: none;
        border-width: 1px;
        border-color: unset;
        opacity: 1;
    }
}

.css-cssveg {
    position: relative;
}

.css-1qagzjf {
    border-radius: 0.5rem;
    background-color: #ffffff;
    position: relative;
    overflow: hidden;
    width: 12.375rem;
    height: 28.5rem;
    z-index: 980;
}

.css-5nlbt4 {
    color: black;
    text-decoration: none;
}

.css-73wobg {
    height: 2rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: start;
    justify-content: start;
    gap: 0.5rem;
    padding: 0 0.5rem;
    border-radius: 0.5rem;
    overflow: hidden;
}

.css-b1gs45 {
    width: 22px;
    height: 22px;
}

.css-b6tybp {
    position: relative;
    display: inline-block;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.css-vpf0y5 {
    margin: 0px;
    padding: 0px;
    border-style: none;
    border-width: 1px;
    border-color: unset;
    opacity: 1;
    color: inherit;
    font-weight: 500;
    text-decoration: unset;
    font-size: 12px;
    line-height: 16px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    max-width: unset;
    min-width: unset;
    transition: color 0.3s ease 0s;
}

.css-1dhtjdy.teko-col-2 {
    display: block;
    flex: 0 0 16.66%;
    max-width: 16.66%;
}

.css-1dhtjdy.teko-col {
    position: relative;
    max-width: 100%;
    min-height: 1px;
}

.css-1dhtjdy {
    border-style: none;
    border-width: 1px;
    border-color: unset;
    opacity: 1;
    padding-top: 1rem;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

div {
    display: block;
}

body {
    background-color: #f8f8fc;
    font-family: "Roboto", sans-serif;
    line-height: 1.25rem;
    color: #333333;
    padding-bottom: 2px;
}

body {
    margin: 0;
    font-size: 0.875rem;
    line-height: 1.25rem;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
